<div class="w-full max-w-sm mx-auto">
  <div class="text-center mb-8">
    <div class="text-4xl font-bold text-[#1877f2] mb-2 font-sans">PromosApp</div>
    <p class="text-[#606770] text-base leading-snug">Bienvenido, inicia sesión para continuar</p>
  </div>
  <div class="bg-white rounded-lg shadow-md p-4 sm:p-6">
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" class="flex flex-col gap-4">
      <div class="relative">
        <app-custom-input [placeholder]="'Nombre de Usuario'" [type]="'text'" formControlName="username"
          [error]="loginForm.get('username')?.touched && loginForm.get('username')?.invalid ? 'El nombre de usuario es obligatorio' : ''" />
      </div>
      <div class="relative">
        <app-custom-input [placeholder]="'Contraseña'" [type]="'password'" formControlName="password"
          [error]="loginForm.get('password')?.touched && loginForm.get('password')?.invalid ? 'La contraseña es obligatoria' : ''" />
      </div>
      <!-- Mensaje de error -->
      <app-button type="submit" [loading]="loading" [disabled]="loading" color="#1877f2" hoverColor="#166fe5"
        textColor="#fff">
        Iniciar sesión
      </app-button>

    </form>
  </div>
  <div class="text-center mt-6 text-xs text-[#65676b]">
    © 2025 PromosApp. Todos los derechos reservados.
  </div>
</div>